//bacgrounds
$body-bg: #fff;
$primary-bg: #161616;
$section-bg: #F1F2F5;
$brand-bg: #FFE500;
$secondary-bg: rgba(#000, .3);


//colors
$primary-color: #fff;
$secondary-color: #161616;
// $brand-color: blue;
// $thirty-color: white;

//fonts
$basic-family: 'Raleway', Arial, Helvetica, sans-serif;

//buttons
$button-primary-color: red;
$button-primary-bg: blue;

//breakpoints
$mobile: 576px;
$tablet: 992px;
$desctop: 1024px;