//bacgrounds
$body-bg: pink;
$primary-bg: red;

//colors
$primary-color: red;
$secondary-color: black;
$brand-color: blue;
$thirty-color: white;

//fonts
$basic-family: 'Roboto', Arial, Helvetica, sans-serif;

//buttons
$button-primary-color: red;
$button-primary-bg: blue;

//breakpoints
$mobile: 576px;
$tablet: 992px;
$desctop: 1024px;