// .advantages__container--narrow {
//     margin-bottom: 149px;
// }


.advantages__title {
    @include font(30px, 35px, 600);
    text-align: center;
    color: $title-color;
    margin-bottom: 46px;
}


.advantages__body {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    // grid-gap: 173px;
    grid-column-gap: 173px;
    grid-row-gap: 85px;
    counter-reset: items;
    list-style-type: none;
}

@media screen and(max-width: 576px) {
    .advantages__body {
        grid-template-columns: repeat(1 , 1fr);
    }
}

.advantages__item {
    &:before {
        counter-increment: items;
        content: counter(items);
        @include font(80px , 94px, 600);
        color: #00000008;
        position: relative;
        top: 20px;
        left: 100px;
    }
}


@media screen and(max-width: 576px) {
    &:before {
        display: none;
    }
}


.advantages__item-body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.advantages__number {
    @include font(20px, 21px, 600);
    color: $title-color;
    margin-right: 40px;
    background: $brand-bg;
    padding: 14px 10px 13px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages__text {
    @include font(16px, 19px, 600);
    color: $secondary-color;
    max-width: 182px;
}

