.advantages__container {
    margin-bottom: 149px;
}


.advantages__title {
    @include font(30px, 35px, 600);
    text-align: center;
    color: $title-color;
    margin-bottom: 110px;
}

.advantages__body {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 90px;
    counter-reset: items;
    list-style-type: none;
}

.advantages__item {

    &:after {
        counter-increment: items;
        content: counter(items);
        @include font(100px , 94px);
        color: #00000008;
        position: relative;
        right: -12px;
        top: -130px;
        z-index: -1;
    }
}


.advantages__item-body {
    display: flex;
}



.advantages__number {
    @include font(20px, 21px, 600);
    color: $title-color;
    margin-right: 40px;
    background: $brand-bg;
    padding: 14px 10px 13px 10px;
}

