.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    transition: color 0.2s linear;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    background-color: transparent;
    transition:  background-color .4s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn--brand {
    color: $secondary-color;
    background-color: $brand-bg;
    padding: 19px 63px 19px 58px;
    margin-bottom: 73px;
    @include font(18px, 21px);
    width: 220px;
}

@include mobile {
    .btn--brand {
        margin-bottom: 45px;
        padding: 20px 40px 17px 40px;
    }
}


.btn--brand:hover {
   background: $body-bg;
   color: $title-color;
}


.btn--rent {
    @include font(12px, 14px, 700);
    color: $primary-color;
    background-color: $primary-bg;
    padding: 21px 30px 17px 30px;
    width: 250px;
}

.btn--rent:hover {
    border: 1px solid $secondary-color;
    color: $secondary-color;
    background: $body-bg;
}


@include mobile {
    .btn--rent {
        width: 100%;
        margin-bottom: 90px;
    }
}


.btn--storage {
    @include font(12px, 14px, 700);
    color: $primary-color;
    background-color: $primary-bg;
    padding: 21px 30px 17px 30px;
    border: 1px solid $primary-color;
    width: 250px;
}


@include mobile {
    .btn--storage {
        width: 100%;
    }
}


.btn--storage:hover {
    border: 1px solid $secondary-color;
    color: $secondary-color;
    background: $body-bg;
}





