.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    transition: color 0.2s linear;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    background-color: transparent;
    transition:  background-color .3s ease;
}

.btn--brand {
    color: $secondary-color;
    background-color: $brand-bg;
    padding: 19px 63px 19px 58px;
    margin-bottom: 73px;
    @include font(18px, 21px);
}

.btn--brand:hover {
   background: $body-bg;
   color: $title-color;
}


.btn__rent {
    @include font(12px, 14px, 700);
    color: $primary-color;
    background-color: $primary-bg;
    padding: 21px 30px 17px 30px;
}



.btn__storage {
    @include font(12px, 14px, 700);
    color: $primary-color;
    background-color: $primary-bg;
    padding: 21px 30px 17px 30px;
    border: 1px solid $primary-color;
}


// .btn{
//     display: inline-block;
//     vertical-align: top;
//     cursor: pointer;
//     text-decoration: none;
//     border: 1px solid;
//     border-color: transparent;
//     border-radius: 0;
//     box-shadow: none;
//     text-align: center;
//     background-color: transparent;
//     font-family: Arial;
//     line-height: 24px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     min-width: 120px;
//     transition: opacity .2s ease, border-color .2s ease, background-color .2s ease;
// }

// .btn[disabled], .btn._disabled{
//     pointer-events: none;
//     cursor: default;
//     opacity: .6;
// }

// .btn--rounded-sm{
//     border-radius: 4px;
// }
// .btn--rounded-md{
//     border-radius: 8px;
// }

// .btn--rounded-lg{
//     border-radius: 16px;
// }

// .btn--fixed{
//     width: 200px;
// }

// .btn--normal{
//     padding: 9px 20px;
//     font-size: 16px;
// }

// .btn--large{
//     padding: 24px 40px;
//     font-size: 16px;
// }

// .btn--brand{
//     background-color: yellow;
//     border-color: yellow;
//     color: #333;
// }

// .btn--brand:hover{
//     background-color: red;
//     border-color: red;
// }


// .btn--outline-brand{
//     border-color: yellow;
//     color: #fff;
// }

// .btn--outline-brand:hover{
//     border-color: red;
// }
