.btn {
    display: inline-block;
    color: $secondary-color;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 21px;
    padding: 19px 56px 19px 50px;
    background-color: $brand-bg;
    vertical-align: top;
    transition: color 0.2s linear;
}

.btn:hover {
    color: $primary-color;
}

.header__btn {
    margin-bottom: 130px;
}

