.burger {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    display: none;
    flex-shrink: 0;
}

.burger__item {
    border-radius: 1.5px;
    display: block;
    background-color: #Fff;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -1px;
    transition: transform .2s ease, opacity .2s ease;
}

.burger__item:nth-child(1){
    transform: translateY(-6px)
}

.burger__item:nth-child(3){
    transform: translateY(6px);
}

.burger._active{
    .burger__item:nth-child(1){
        transform: translateY(0) rotate(45deg);
    }

    .burger__item:nth-child(2){
        opacity: 0;
    }

    .burger__item:nth-child(3){
        transform: translateY(0) rotate(-45deg);
    }
} 