.container {
    max-width: 1212px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}


.advantages__container{
    margin-bottom: 29px;
}


.feedback__container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
 }