.feedback {
   
}


.feedback__title {
    color: $secondary-color;
    @include font(25px, 30px, 700);
    text-transform: uppercase;
    max-width: 703px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 31px;
}


.feedback__form-body {
    display: flex;
}


.form__name, .form__number {
    margin-right: 15px;
}


.form__btn {
    color: $primary-color;
    @include font(12px,14px,600);
    background-color: $primary-bg;
    padding: 18px 44px 17px 46px;
    
}


.name__input {
    padding: 18px 198px 18px 20px;
    background-color: $input-bg;
    border: none;
    outline: none;
    @include font(16px, 18px);
    opacity: .5;
}

@media screen and(max-width: $mobile) {
    .feedback__form-body {
        display: block;
    }
    .form__item {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .name__input {
        width: 100%;
    }
    .form__btn {
        width: 100%;
     }
     .phone__input {
        width: 100%;
    }
}


.phone__input {
    padding: 18px 164px 18px 20px;
    background-color: $input-bg;
    border: none;
    outline: none;
    @include font(16px, 18px);
    opacity: .5;
}
