
.feedback__title {
    color: $secondary-color;
    @include font(25px, 30px, 700);
    text-transform: uppercase;
    max-width: 703px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 43px;
}


.feedback__form-body {
    display: flex;
}


.form__item--name, .form__item--number {
    margin-right: 15px;
}


.btn--form {
    color: $primary-color;
    @include font(12px,14px,600);
    background-color: $primary-bg;
    padding: 18px 44px 17px 46px; 
    width: 175px;
}


.btn--form:hover {
    background: $body-bg;
    color: $title-color;
}


.name__input, .phone__input{
    padding: 18px 60px 18px 20px;
    background-color: $input-bg;
    border: none;
    outline: none;
    @include font(16px, 19px);
    opacity: .5;
}


@include mobile {
    .feedback__form-body {
        display: block;
    }
    .form__item {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .name__input {
        width: 100%;
    }
    .btn--form {
        width: 100%;
     }
     .phone__input {
        width: 100%;
    }
}


