.header {
    background-color: $primary-bg;
    padding-bottom: 40px;
    position: relative;
    overflow: hidden;
    margin-bottom: 214px;
}

.header__logo {
    margin-right: 78px;
    flex-shrink: 0;
}

.header__container {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 140px;
}


.header__contacts {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
}

.header__nav-link {
    text-decoration: none;
    color: $primary-color;
    @include font(13px, 24px);
    display: inline-block;/*для удобства?*/
    vertical-align: top;
    text-transform: uppercase;
}

.header__nav-item {
    margin-right: 30px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__phone {
    margin-right: 30px;
    color: $primary-color;
    text-decoration: none;
    @include font(13px, 15px);
    position: relative;
    display: flex;
    align-items: center;

}

.header__phone::before {
    content: url('');
    flex-shrink: 0;
}

.icon {
    width: 20px;
    height: 20px;
}

.phone__icon {

}

.location__icon {
    
}

.header__adress {
    color: $primary-color;
    @include font(10px, 14px);
    position: relative;
}

.header__adress::before {
    content: url('');
    flex-shrink: 0;
}





