.nav {
    display: flex;
    list-style-type: none;
}


@include mobile {
    .nav {
        text-align: center;
    }
}


@include mobile {
    .nav__item:not(:last-child) {
        margin-right: 0;
    }
}