.nav {
    display: flex;
    list-style-type: none;
    // margin-right: 30px;
}

@media screen and(max-width: 576px) {
    .nav {
        text-align: center;
    }
}

@media screen and(max-width: 576px) {
    .nav__item:not(:last-child) {
        margin-right: 0;
    }
}