.rent {

}


.rent__container {
    margin-bottom: 100px;
}

.rent__body {
    display: flex;

}


.rent__description {
    align-self: center;
    margin-right: 90px;
}


.rent__title {
    @include font(30px, 35px, 700);
    text-transform: uppercase;
    margin-bottom: 25px;
}


.rent__text {
    @include font(15px, 17px);
    max-width: 430px;
    margin-right: 90px;
    margin-bottom: 40px;
}


.rent__block {
    box-shadow: -60px -66px 0px $shadow-color;
}


.rent__block-img {
    width: 100%;
    height: 488px;
    display: block;
    object-fit: cover;
}


.rent__pic {
    display: block;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 66px;
    left: 60px;
}


// .rent__block {
//     width: 547px;
//     height: 487px;
//     background: $section-bg;
//     position: relative;
//     z-index: 1;
// }

// .rent__block::after {
//     content: url('/img/rent-img.png');
//     width: 547px;
//     height: 487px;
//     position: absolute;
//     top: 66px;
//     left: 60px;
//     z-index: 3;
// }

