.rent {

}

.rent__container {
    
}

.rent__body {
    display: flex;
}

.rent__description {

}

.rent__title {
    @include font(30px, 35px, 700);
    text-transform: uppercase;
    margin-bottom: 25px;
}

.rent__text {
    @include font(15px, 17px);
    max-width: 430px;
    margin-right: 90px;
    margin-bottom: 40px;
}


// .rent__image {
//     position: relative;
// }


.rent__block {
    width: 547px;
    height: 487px;
    background: $section-bg;
    position: relative;
    z-index: -1;
}

.rent__block::after {
    content: '';
    position: absolute;
    // top: 30px;
    // left: 30px;
    // background: url('../img/rent-img.png');
    // display: inline-block;
    // z-index: 1;
}

.rent__pic {
    display: block;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 66px;
    left: 60px;
}