.rent {

}


.rent__container {
    margin-bottom: 100px;
}


.rent__body {
    display: flex;

}


@media screen and(max-width: $mobile) {
    .rent__body {
        flex-direction: column-reverse;
        text-align: center;
    }
}


.rent__description {
    align-self: center;
    margin-right: 90px;
}


@media screen and(max-width: $mobile) {
    .rent__description {
        margin-right: 0;
    }
}


.rent__title {
    @include font(30px, 35px, 700);
    text-transform: uppercase;
    margin-bottom: 25px;
}


@media screen and(max-width: $mobile) {
    .rent__title {
        margin-bottom: 20px;
    }
}


.rent__text {
    @include font(15px, 17px);
    max-width: 430px;
    margin-right: 90px;
    margin-bottom: 40px;
}

@media screen and(max-width: $mobile) {
    .rent__text {
        margin-right: 0;
    }
}


.rent__block {
    box-shadow: -60px -66px 0px $shadow-color;
}


@media screen and(max-width: $mobile) {
    .rent__block {
        box-shadow: none;
        margin-bottom: 18px;
    }
}


.rent__block-img {
    width: 100%;
    height: 488px;
    display: block;
    object-fit: cover;
}




