.service {

}


.service__container {
    padding-bottom: 80px;
    margin-bottom: 90px;
}

.service__title {
    @include font(30px, 35px, 600);
    color: $title-color;
    text-align: center;
    margin-bottom: 70px;
}

.service__body {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 20px;
}

.service__body-link {
    text-decoration: none;
}


.service__item {
    background: #fff;
    position: relative;
}


.service__item:hover {
    transform: translateY(-50px);
    transition: all .5s ease;
}

.service__item-pic {
    display: block;
    object-fit: cover;
    margin-bottom: auto;
    width: 100%;
}



.service__item-text {
    @include font(18px, 21px, 600);
    color: $secondary-color;
    padding: 45px 79px 51px 31px;
}


.service__item-pic {
    
}



.square{
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 11px 9px 10px;
    background: $brand-bg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover .square__text {
    opacity: 1;
    transform: translateX(44px);
}


.square__img {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    z-index: 1;
}

.square__text {
    background: $brand-bg;
    @include font(18px, 21px);
    color: $secondary-color;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    font: 16px/24px Arial, sans-serif;
    padding: 10px;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
    pointer-events: none;
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



