.service {

}


.service__container {
    padding-bottom: 80px;
    margin-bottom: 91px;
}

.service__title {
    @include font(30px, 35px, 600);
    color: $title-color;
    text-align: center;
    margin-bottom: 70px;
}

.service__body {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 20px;
}

.service__body-link {
    text-decoration: none;
}


.service__item {
    background: #fff;
    position: relative;
}


.service__item:hover {
    transform: translateY(-50px);
    transition: all .5s ease;
}

.service__item-pic {
    display: block;
    object-fit: cover;
    margin-bottom: auto;
    width: 100%;
}



.service__item-text {
    @include font(18px, 21px, 600);
    color: $secondary-color;
    padding: 45px 79px 51px 31px;
}


.service__item-pic {
    
}



.square{
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 11px 9px 10px;
    background: $brand-bg;
    display: flex;
    justify-content: center;
    align-items: center;
}




.square__img {
    display: block;
    width: 36px;
    height: 36px;
}



