.slider {

}

.slider__wrap{
    overflow: hidden;
}


.slider__title {
    max-width: 526px;
    @include font(27px, 31px, 700);
    color: $primary-color;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.slider__arrow {
    width: 24px;
    height: 24px;
    display: block;
    background-color: transparent;
    border: none;
    outline : none;
    cursor: pointer;
}

.slider__icon {
    width: 24px;
    height: 24px;
}

.slider__buttons {
    display: flex;
    justify-content: flex-end;
    width: 50%;/*по умолчанию занимает сто процентов ширины,ставим половину*/
    padding-right: 60px;
    @include tablet{
        width: 100%;
        padding-right: 0;
    }
}

.slider__counter {
    @include font(18px, 21px);
    color: $primary-color;
    padding: 0 10px;
}

.slider__wrap {
    display: flex;/*для остальных слайдов?*/
}

.slider__slide {
    display: flex;
    gap: 47px;
    flex-shrink: 0;/*слайд не должен сужаться,фактор уменьшения задаём ноль*/
    width: 100%;
}

.slider__right {
    position: absolute;/*позиционируем относительно хедера*/
    right: 0;/*прибиваем элемент к правому краю страницы*/
    top: 180px;
    width: 50%;/*элемент будет занимать половину слайдера*/
    overflow: hidden;
    @include tablet{
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        z-index: -1;

        &:after{
            content: ' ';
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            right: 0;
            background-color: #000;
            opacity: .5;
        }
    }
}

.slider__pic {
    display: block;
    width: 100%;/*картинка будет занимать сто процентов ширины контейнера*/
    height: 506px;/*нужно ли снова прописывать высоту?*/
    object-fit: cover;/*адаптив для картинки*/
    @include tablet{
       height: 100%;
    }
}

// @media screen and (max-width: 576px) {
//     .slider__left {
//         max-width: 265px;
//     }
// }