.slider {

}

.slider__arrow {
    width: 24px;
    height: 7px;
    background-color: transparent;
    border: none;
    outline : none;
    cursor: pointer;
}

.slider__icon {
    width: 24px;
    height: 7px;
}

.slider__buttons {
    width: 131px;
    margin-bottom: 39px;
    margin: 0 auto;
}